.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 15px;
  padding: 20px;
  width: 95%;
  margin: 0 auto;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.card h3 {
  margin-bottom: 6px;
}

.card p {
  margin: 2px 0;
  font-size: 15px;
}

.deleteBtn {
  margin-top: 10px;
  padding: 8px 12px;
  background: #ff4d4f;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease;
}

.deleteBtn:hover {
  background: #e04345;
  scale: 1.03;
}
